<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
USER PAGE

<p th:text="${user.getUsername()}">value</p>
<p th:text="${user.getName()}">value</p>
<p th:text="${user.getLastname()}">value</p>
<p th:text="${user.getAge()}">value</p>

<br>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">edit user</a>
<br><br>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br>

<a href="/admin">userlist</a>

<form th:action="@{/logout}" method="post">
    <button type="submit">logout</button>
</form>
</body>
</html>